{% extends 'base.html.twig' %}

{% block title %}Password Reset Successful{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ message }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
